{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<div class="container mt-3">
  <h1>{{title}}</h1>
  <div class="row">
    <div class="col-4 pe-1">
      <div class="card mb-3">
        <div class="card-header text-center">
          {{news_item.category.title1}}
        </div>
        <div class="card-body text-center">
          <div class="media">
            {% if news_item.photo %}
            <img src="{{news_item.photo.url}}" width="400" alt="">
            {% else %}
            <img
                src="https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg?w=900"
                width="400" alt="">
            {% endif %}
            <div class="media-body">

            </div>
          </div>
          <h5 class="card-title {% cycle 'text-danger' 'text-success'%}">{{forloop.counter}} {{news_item.title}}</h5>
          {% autoescape off %}
          <p class="card-text text-start">{{news_item.content}}</p>
          {% endautoescape %}
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
        <div class="card-footer text-body-secondary text-center">
          {{news_item.created_at | date:"Y-m-d H:i"}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
